body {
  color: #2f80ed;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
}

.image {
  margin: 0 auto;
  width: 520px;
  padding: 110px 0 10px;
}

.title {
  margin: 0 auto;
  width: 420px;
  font-size: 120px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 22px;
}

.text {
  margin: 0 auto;
  width: 420px;
  font-size: 17px;
  font-weight: normal;
  text-align: center;
  display: none;
}

.title:hover .text {
  display: block;
}

.subtitle {
  margin: 0 auto;
  font-size: 17px;
  font-weight: normal;
  width: 420px;
  text-align: center;
  padding: calc(280px - 22px - 160px) 0 30px;
}
